.aqua {
  color: aqua;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

/* for unit parts that have already been covered */
.green {
  color: #00a700;
}

/* for alternating list items to heighten readability */
.lightgreen {
  /* color: #77A58F; darker*/
  color: #30d430; /*lighter*/
}
